body{
  background: #444;
  margin: 0px;
}
#placeholder {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vw;
  transform: scale(0.5);
}
img {
  align-self: center;
  border: 10px solid #fff;
  padding: 0px;
  margin: 30px;
  border-radius: 30px;
  box-shadow: 0px 20px 20px black;
  transition: 0.5s all ease-in-out;
}

img:hover {
  /*transform: scale(2);*/
  transition: 0.5s all ease-in-out;
}

/*link*/

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#linkTopo{
  transition: 0.5s;
}

#linkTopo:hover{
  transition: 1s;
  color: #ffffff;
}

/* footer */

header{
  background-color: #7450d1;          /*#4a2d70;*/
  text-align: center;
  padding: 1%;
}

#caixaLink{
  width: 150px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 1%;
  margin: auto;
}

#caixaLink{
  transition: 0.5s;
}

#caixaLink:hover{
  transition: 1s;
  background-color: #251b3f;
}