@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

body{
    background-color: #124a7a;
    display: flex;
    flex-direction: column;
    min-width: 975px;
}

header{
    margin: auto;
    width: 75vw;
    min-width: 650px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    position: sticky;
    top: 0px;
    background-color: #124a7a;
    border: 1px solid #124a7a;
    border-radius: 0px 0px 25px 25px;
}

header:hover{
    filter: opacity(80%);
}

h1{
    font-size: 50px;   
    margin-left: 20px;     
    color: #EDF2E9;
    font-family: 'Josefin Sans', sans-serif;
}

img{
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;    
    float: left;
}

#div1{
    display: flex;
    align-items: center;
    margin: auto;
    border: 3px solid rgba(0, 0, 0, 0.902);
    background-color: #edf2e9;
    width: 75%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    min-width: 630px;
    margin-top: 3%;
}

#formcad{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 80% 15%;
    column-gap: 20px;
    row-gap: 10px;
    padding: 15px;
    height: auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: auto;
    margin-right: 2%;
    margin-top: 1%;
}

#form1{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(10, 35px);
    row-gap: 10px;
    text-align: start;
    align-items: baseline;
}

#form2{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(10, 35px);
    row-gap: 10px;
    text-align: start;
    align-items: baseline;
}

#p1{
    grid-column: 1/2;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -5px;
    grid-row: 1/2;
}

#p2{
    grid-column: 2/3;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -5px;
    grid-row: 1/2;
}

#nome{
    grid-column: 3/6;
}

label{
    grid-column: 1/3;
}

input{
    grid-column: 3/6;
    border: 0;
    border-bottom: 2px solid #000000;
    background: transparent;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'], input[type='time'], input[type='tel'], input[type='file'] {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.769);
    border-radius: 5px 5px 5px 5px;
}

input:focus{
    outline: 0;
    font-style: italic;
}

input:focus::placeholder{
    font-style: italic;
}

.input1:valid, .input2:valid{ 
    border-bottom: 2px solid #bce5bc;
}

.input1:invalid, .input2:invalid{ 
    border-bottom: 2px solid rgb(236, 191, 191);
}

#foto{
    padding: 3px;
}

.resposta{
    flex-direction: row;
    justify-content: space-around;
    grid-column: 3/6;
}

#estado{
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Saira Condensed', sans-serif;
    background-color: #e2e4e2d0;
}

#estado:focus{
    font-style: italic;
}

#sin{
    grid-column: 1/6;
    text-align: start;
}

#sintoma1{
    grid-column: 1/3;
    grid-row: 4/7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sintoma2{
    grid-column: 4/6;
    grid-row: 4/7;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-start;
}

#termos {
    margin: auto;
    width: 25px;
    height: 25px;
}

.btn-pesq{
    margin: 10px;
    padding: 10px;
    height: 40px;
    width: 50%;
    margin: auto;
    grid-column: 1/3;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-top: 2%;
    background-color: #e0e4dc3f;
    transition: all 1s;
    cursor: pointer;
}

.btn-pesq:hover{
    transition: all 1s;
    transform: scale(1.09); 
    background: linear-gradient(180deg, rgba(237,242,233,1) 0%, rgba(217,222,212,1) 80%, rgba(181,185,196,1) 100%);  
    border-radius: 25px 25px 25px 25px;
}

.resp{
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    border-bottom: 2px solid #dce7eb;
    color: white;
    background: #0c010cdd;
    padding: 1%;
    width: 50%;
    margin: auto;
}